<div class= "container-fluid">
  <div class = "row center">
    <h1><%= @registered_application.name %><br />
    <h3><em class="text-warning">Analytics for </em><b><%= @registered_application.URL %></b>
  </div>
</div>