<div class="container-fluid">
  <div class="row center">
    <h2><span class="badge"><%=@registered_application.events.count%></span> <em>events</em> for: 
    <b><%=@registered_application.name%></b></h2>
    <div class="chart"> 
      <%=pie_chart @registered_application.events.group(:name).count%>
      <%=line_chart @registered_application.events.group_by_day(:created_at).count%>
    </div>
  </div>
</div>